.dest-card img {
  max-width: 25vw;
  height: auto;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

/* mobile */
@media screen and (max-width: 426px) {
  .dest-card img {
    max-width: 60vw;
  }
}

/* tablet */
@media screen and (max-width: 769px) {
  .dest-card img {
    max-width: 60vw;
  }
}