.layout-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  /* align-content: space-around; */
  background-color: #f5f4f5;
  min-height: 8vh;
  padding-top: 15px;
  padding-left: 30vw;
  position: relative;
  /* vertical-align: auto; */
}

.layout-title {
  color: #4C9196;
  padding-left: 2vw;
  font-family: 'Roboto', sans-serif;
}

.layout-header a {
  text-decoration: none;
  font-size: 40px;
}
/* https://www.w3schools.com/howto/howto_css_center-vertical.asp */
.username {
  color: #4C9196;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: 5vw;
}

/* bestcssbuttongenerator.com */
.layout-button,
.login-register {
	background-color:#755A6C;
	border-radius:3px;
	border:1px solid #1C1E29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
  height: 45px;
  margin-bottom: 1vw;
}
.layout-button:hover,
.login-register:hover {
	background-color:#4C9196;
}
.layout-button:active,
.login-register:active {
	position:relative;
	top:1px;
}

.username {
  font-size: 20px;
}

/* mobile */
@media screen and (min-width: 426px) {
  .username {
    display: none;
  }
}


@media screen and (min-width: 769px) and (max-width: 1024px) {
  .username {
    display: none;
  }
}