.login-register-form {
  padding-top: 5vh;
  background-color: lightblue;
  min-height: 100vh;
}

.container {
  padding: 16px;
}

/* https://www.w3schools.com/howto/howto_css_register_form.asp */
/* Half-width input fields */
label input[type=text], input[type=password] {
  width: 50vw;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 3px;
}

label input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
  border-radius: 3px;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* bestcssbuttongenerator.com */
.submit-btn {
	background-color:#2dabf9;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
  height: 45px;
}
.submit-btn:hover {
	background-color:#0688fa;
}
.submit-btn:active {
	position:relative;
	top:1px;
}

label div {
  padding-right: 40vw;
  font-size: 20px;
}
