.destination-detail {
  display: flex;
  flex-flow: row nowrap;
  /* justify-content: space-evenly; */
  background-color: lightblue;
  height: 100vh;
  padding-left: 20vw;
}

.dest-img {
  padding-top: 7vh;
  width: 30vw;
  height: auto;
}

.dest-info {
  display: flex;
  flex-flow: column nowrap;
  text-align: left;
}

.dest-info div {
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.destination-box {
  padding-top: 10vh;
  max-height: 100vh;
  max-width: 40vw;
}

.comment-box-container {
  padding-top: 10vh;
  max-height: 100vh;
  max-width: 40vw;
}
/* bestcssbuttongenerator.com */
.edit-btn,
.delete-btn {
	background-color:#2dabf9;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
  height: 45px;
}
.edit-btn:hover,
.delete-btn:hover {
	background-color:#0688fa;
}
.edit-btn:active,
.delete-btn:active {
	position:relative;
	top:1px;
}