.cards-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.destination-list-container {
  padding-top: 5vh;
  background-image: url('https://i.imgur.com/sza67KY.jpg');
  background-position: center;
  background-color: #f5f4f5;
}

/* bestcssbuttongenerator.com */
.add-dest-button {
	background-color:#755A6C;
	border-radius:3px;
	border:1px solid #1C1E29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
  height: 45px;
}
.add-dest-button:hover {
	background-color:#4C9196;
}
.add-dest-button:active {
	position:relative;
	top:1px;
}